<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.Sunokitaab.sunokitaab">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.Sunokitaab.sunokitaab.login_signup.signUp"></activity>
        <activity android:name="com.Sunokitaab.sunokitaab.login_signup.signIn" />
        <activity android:name="com.Sunokitaab.sunokitaab.Download_Audio.downloadAudioPlayer" />
        <activity android:name="com.Sunokitaab.sunokitaab.Class_Subject_Audios.Audios" />
        <activity
            android:name="com.Sunokitaab.sunokitaab.MainUi"
            android:label="@string/title_home">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />

                <data android:mimeType="audio/mpeg" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.Sunokitaab.sunokitaab.ForgotPasswordActivity" />
        <activity
            android:name="com.Sunokitaab.sunokitaab.SplashScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.Sunokitaab.sunokitaab.SignupActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name="com.Sunokitaab.sunokitaab.HomeActivity" />
        <activity android:name="com.Sunokitaab.sunokitaab.MainActivity" />

        <receiver android:name="com.Sunokitaab.sunokitaab.Services.NotificationActionService" />

        <service android:name="com.Sunokitaab.sunokitaab.Services.OnClearFromRecentService" />
    </application>

</manifest>